/* This contains the scss for the cart component */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
.main {
    //@include flexBar($justify: flex-start, $align: center, $gap: 10%);
    position: absolute;
    @include position($left: 0%, $top: 10%);
    @include size(90%, $height:65%);
    //border: 2px solid black;
    padding: 2% 5%;
    font-family: "Roboto";
    //pointer-events: none;

    @include tabletPro {
        top: 10%;
        height: 30%;
        //border: 2px solid red;
    } 

    @include phonePro {
        height: 70%;
        top: 12%;
        //border: 2px solid red;
    } 

    button {
        outline: none;
    }

    .empty_cart {
        @include flexBar($position: relative, $justify: center, $gap: 5%, $flex_d: column, $wrap: none, $align: center, $flex: none);
        //padding: 0% 10%;
        //border: 2px solid red;
        @include size($height: 100%);
        @include text-layout($size: 16px, $l_height: 24px);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 6px;  
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 
        
        @include phonePro {
            //top: 5%;
            //box-shadow: none;
        }

        .cart_icon {
            //border: 1px solid red;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            @include size(100px, 100px);
            background-color: rgba(217, 217, 217, 1);
            border-radius: 50%;

            .icon {
                position: relative;
                //border: 1px solid red;
                font-size: 3rem;
                color: $primary-color;
            }
        }

        .brief_1 {
            font-weight: 600;
            //border: 2px solid red;
        }

        .brief_2 {
            font-weight: 400;
            //border: 2px solid red;

            @include phonePro {
                font-size: 14px;
                text-align: center;
                width: 80%;
            }
        }

        button {
            border-radius: 5px;
            @include flexBar($position: relative, $justify: center, $gap: 5%, $flex_d: row, $wrap: none, $align: center, $flex: none, $bg-color: $primary-color);
            @include size(30%, 15%);
            border: 1px solid $primary-color;
            transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            font-family: "Inter";

            @include tabletPro {
                width: 30%;
            } 

            @include phonePro {
                @include size(80%, 15%);
                gap: 5%;
            } 

            @include phoneMini {
                font-size: 12px;
            }

            &:hover {
                transform: scale(1.05);
            }

            span {
                font-weight: 590;
                color: $tertiary-color;
            }

            .icon {
                color: $tertiary-color;
            }
        }
    }

    .active_cart {
        @include flexBar($position: relative, $justify: none, $gap: 5%, $flex_d: row, $wrap: none, $align: none, $flex: none);
        //border: 2px solid red;
        @include size(100%, 100%);

        @include phonePro {
            flex-direction: column;
            //border: 2px solid blue;
            max-height: 300%;
            height: 100%;
            top: 0%;
            gap: 3%;
        } 

        .cart_list {
            display: flex;
            flex-direction: column;
            //border: 2px solid red;
            @include size(100%, 100%);
            padding: 0% 1%;
            gap: 1%;
            //color: ;

            @include phonePro {
                //border: 2px solid red;
                height: 45%;
                padding: 0%;
            } 

            .cart_list_title {
                position: relative;
                //border: 2px solid blue;
                border-bottom: 1px solid rgba(0, 0, 0, 0.09);
                @include size(100%, 7%);
                @include text-layout($size: 16px, $color: $text-color-2, $l_height: 20px);
                font-weight: 600;

                @include phonePro {
                    //border: 2px solid blue;
                    height: 10%;
                    @include text-layout($size: 18px, $color: $text-color-2, $l_height: 20px);
                } 
            }

            .cart_header {
                border-bottom: 1px solid $text-color-3;
                padding: 0% 2%;
                padding-bottom: 5px;
                @include flexBar($position: relative, $justify: flex-start, $gap: 0%, $flex_d: row, $align: center);

                span {
                    @include text-layout($size: 12px, $l_height: 15px);
                    position: relative;
                    font-weight: 600;
                }

                .span1 {
                    left: 10%;
                }

                .span2 {
                    left: 47%;

                    @include tabletPro {
                        left: 42%;
                    }

                    @include phonePro {
                        left: 42%;
                    }
                }

                .span3 {
                    left: 60%;

                    @include tabletPro {
                        left: 55%;
                    }

                    @include phonePro {
                        left: 50%;
                    }
                }

                @include phonePro {
                    padding-bottom: 0px;
                } 
            }

            .cart_lists {
                //@include flexBar($position: relative, $justify: none, $gap: 3%, $flex_d: column, $wrap: none, $align: none, $flex: none);
                display: flex;
                flex-direction: column;
                position: relative;
                gap: 1%;
                //border: 2px solid blue;
                //padding: 0.5% 2%;
                @include size(100%, 100%);
                overflow-x: hidden;
                overflow-y: auto;

                @include phonePro {
                    //border: 1px solid red;
                    top: 0%;
                }

                .cart_item {
                    //padding: 1%;
                    @include flexBar($position: relative, $justify: none, $gap: 5%, $flex_d: row, $wrap: none, $align: center, $flex: none);
                    //border: 2px solid pink;
                    @include size(100%, 18%);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.09);

                    @include tabletPro {
                        height: 20%;
                    }

                    @include phonePro {
                        height: 25%;
                    }

                    .list_main {
                        //border: 1px solid red;
                        @include flexBar($position: relative, $justify: flex-start, $gap: 3%, $align: center);
                        @include size(45%, 90%);

                        .list_image {
                            //border: 2px solid blue;
                            @include size(15%, 90%);
                            position: relative;
                            display: flex;
    
    
                            .img {
                                //border: 1px solid red;
                                position: relative;
                                object-fit: cover;
                                @include size(100%, 100%);
                            }
    
                            @include phonePro {
                                @include size(17%, 100%);
    
                                .img {
                                    position: relative;
                                    top: 0%;
                                }
                            } 
    
                            &:hover {
                                border: 1px solid $primary-color;
                            }
                        }

                        .list_specs {
                            //border: 1px solid red;
                            @include flexBar($position: relative, $justify: space-around, $gap: 1%, $align: center, $flex_d: column);
                            @include size(80%, 90%);

                            @include phonePro {
                                left: 3%;
                            }

                            .list_title {
                                //border: 2px solid pink;
                                @include text-layout($size: 12px, $color: $text-color-2, $l_height: 20px);
                                font-weight: 500;
                                position: relative;
                                //left: 15%;
                                @include size(100%, 33%);
                                display: flex;
                                align-items: center;
                                text-align: start;
        
                                @include tablet {
                                    font-size: 13px;
                                }
        
                                @include phonePro {
                                    //border: 2px solid pink;
                                    //width: 37%;
                                    @include text-layout($size: 10px, $color: $text-color-2, $l_height: 11px);
                                    height: 30%;
                                    text-overflow: ellipsis;
                                    display: block;
                                    white-space: nowrap;
                                    overflow: hidden;
                                } 
        
                                @include phoneMini {
                                    line-height: 11px;
                                }
        
                                &:hover {
                                    color: $primary-color;
                                }
                            } 

                            .list_color {
                                @include text-layout($size: 12px, $color: $text-color-2, $l_height: 20px);
                                //border: 1px solid red;
                                @include flexBar($position: relative, $justify: flex-start, $gap: 2%, $align: center);
                                @include size(100%, 30%);

                                @include phonePro {
                                    font-size: 10px;
                                }

                                .color {
                                    border: 1px solid $text-color-3;
                                    //background-color: red;
                                    position: relative;
                                    @include size(15px, 15px);

                                    @include tabletPro {
                                        @include size(10px, 10px);
                                    }

                                    @include phonePro {
                                        @include size(10px, 10px);
                                    }
                                }
                            }

                            .list_size {
                                @include text-layout($size: 12px, $color: $text-color-2, $l_height: 20px);
                                //border: 1px solid red;
                                @include flexBar($position: relative, $justify: flex-start, $gap: 2%, $align: center);
                                @include size(100%, 30%);

                                @include phonePro {
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    .list_quantity {
                        @include flexBar($position: absolute, $justify: center, $gap: 10%, $flex_d: row, $align: center);
                        border: 1px solid $text-color-3;
                        @include size(10%, 50%);
                        left: 50%;
                        border-radius: 4px;
                        //padding: 1% 0%;

                        span {
                            font-size: 15px;
                            position: relative;
                            //border: 1px solid $text-color-3;
                            justify-content: center;
                            align-items: center;
                            display: flex;
                            height: 100%;
                        }

                        @include phonePro {
                            //border: 2px solid pink;
                            @include size(16%, 60%);
                            gap: 0%;

                            span {
                                @include text-layout($size: 11px, $color: $text-color-2, $l_height: 20px);
                            }
                        } 

                        button {
                            //border: 1px solid pink;
                            border: none;
                            transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                            background-color: transparent;
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            cursor: pointer;

                            @include phonePro {
                                height: 100%;
                            }
                            
                            .icon {
                                font-size: 1rem;

                                @include phonePro {
                                    font-size: 0.7rem;
                                }
                            }


                            &:hover {
                                //transform: scale(1.05);
                                color: $primary-color;
                            }
                        }

                        // .minus_button {
                        //     @include size(30%, 80%);
                        //     padding: 3%;
                        //     display: flex;
                        //     justify-content: center;
                        //     align-items: center;
                        //     box-sizing: border-box;
                        //     background: $tertiary-color;
                        //     border: 1px solid $primary-color;
                        //     color: $primary-color;

                        //     @include phonePro {
                        //         //border: 1px solid $error-color;
                        //         @include size(16px, 16px);
                        //     } 
                        // }

                        // .plus_button {
                        //     position: relative;
                        //     padding: 4%;
                        //     display: flex;
                        //     border: 1px solid $primary-color;
                        //     justify-content: center;
                        //     align-items: center;
                        //     background: $primary-color;
                        //     @include size(30%, 80%);
                        //     color: $tertiary-color;

                        //     @include phonePro {
                        //         //border: 1px solid $error-color;
                        //         @include size(16px, 16px);
                        //     } 
                        // }
                    }

                    .list_cart_price {
                        @include flexBar($justify: center, $gap: 1%, $flex_d: column, $align: flex-start);
                        //border: 1px solid red;
                        @include size(20%, 50%);
                        left: 68%;
                        @include text-layout($size: 15px, $l_height: 18px);

                        .discountIcon {
                            color: $text-color-2;
                            font-size: 1rem;
                            position: relative;
                            left: 5px;

                            @include phonePro {
                                display: none;
                            }

                            &:hover {
                                color: $primary-color;
                            }
                        }

                        .activeSpan {

                            @include phonePro {
                                color: $primary-color;
                            }
                        }

                        @include phonePro {
                            //font-size: 12px;
                            align-items: flex-end;
                            //left: 70%;
                        }

                        .price {
                            @include text-layout($size: 15px, $l_height: 15px);
                            //font-weight: 600;
                            //border: 2px solid $primary-color;
        
                            @include phonePro {
                                font-size: 12px;
                            }
                        }
        
                        .slashed_price {
                            @include text-layout($size: 13px, $color: $text-color-3, $l_height: 15px);
                            letter-spacing: 0.1px;
                            text-decoration-line: line-through;    
                            //border: 2px solid $primary-color; 
        
                            @include phonePro {
                                font-size: 10px;
                            }

                            @include phoneMini {
                                font-size: 10px;
                            }
                        }
                    }

                    .remove {
                        @include flexBar($position: absolute, $justify: center, $gap: 5%, $flex_d: row, $wrap: none, $align: center, $flex: none);
                        box-sizing: border-box;
                        @include size(auto, auto);
                        //padding: 1% 0%;
                        //border: 2px solid $primary-color;
                        border: none;
                        border-radius: 3px;
                        background: transparent;
                        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                        @include text-layout($size: 16px, $color: $text-color-2, $l_height: 24px);
                        font-weight: 600;
                        left: 90%;

                        @include phonePro {
                            
                        } 

                        @include phoneMini {
                            left: 87%;
                        }

                        .icon {
                            position: relative;
                            //border: 1px solid red;
                            font-size: 2rem;
                            //@include size(20px, 20px);
                            top: 40%;
                            color: $primary-color;

                            @include phonePro {
                                font-size: 1.5rem;
                                //@include size(12px, 12px);
                            } 

                            @include phone {
                                font-size: 1.2rem;
                            }
                        }

                        &:hover {
                            //transform: scale(1.05);
                            border: 1px solid $primary-color;
                        }
                    }
                }
            }
        }

        .order_price {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2%;
            //@include flexBar($position: relative, $justify: space-between, $display: flex, $align: center, $flex_d: column, $gap: 2%);
            //padding: 1%;
            //border: 2px solid red;
            @include size(35%, 100%);

            @include phonePro {
                position: relative;
                //border: 2px solid red;
                //@include size(50%, 200%, 200%);
                max-width: 300%;
                //top: 2%;
                @include size(100%, 55%);
            } 

            .heading {
                //border: 2px solid red;
                border-bottom: 1px dotted rgba(0, 0, 0, 0.09);
                font-weight: 600;
                @include size(100%, auto);
                position: relative;
                padding: 1% 0%;
                padding-bottom: 2%;

                @include phonePro {
                    top: -2%;
                    border-top: 1px solid rgba(0, 0, 0, 0.09);
                }
            }

            .delivery_info {
                border: 1px dotted $primary-color;
                @include flexBar($position: relative, $justify: center, $display: flex, $align: center, $flex_d: column);
                //height: 25%;
                @include size(95%, 25%);
                padding: 0% 2%;
                border-radius: 7px;

                @include tablet {
                    height: 30%;
                }

                @include phonePro {
                    height: 35%;
                }

                .info {
                    //border: 1px solid purple;
                    @include flexBar($position: relative, $justify: center, $display: flex, $align: flex-start, $flex_d: column, $gap: 5%);
                    //font-family: "Inter";
                    height: 95%;
                    width: 100%;
                    //align-items: center;

                    @include phonePro {
                        width: 98%;
                    }

                    .editIcon {
                        position: absolute;
                        top: 1%;
                        left: 91%;
                        //border: 1px solid red;

                        @include tabletPro {
                            left: 89%;
                        }

                        @include tablet {
                            font-size: 1rem;
                            left: 88%;
                            top: 2%;
                        }

                        @include phonePro {
                            top: 2%;
                            left: 93%;
                        }

                        @include phoneMini {
                            font-size: 1rem;
                        }

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    .name {
                        //border: 1px solid red;
                        font-size: 14px;
                        font-weight: 600;
                        position: relative;

                        @include tablet {
                            font-size: 12px;
                        }

                        @include phoneMini {
                            font-size: 12px;
                        }
                    }

                    .address {
                        font-size: 13px;
                        position: relative;
                        //border: 1px solid red;

                        @include tablet {
                            font-size: 11px;
                            line-height: 12px;
                        }

                        @include phoneMini {
                            font-size: 11px;
                            line-height: 12px;
                        }
                    }

                    .mobile {
                        font-size: 12px;
                        position: relative;
                        font-weight: 600;
                        //border: 1px solid red;

                        @include tablet {
                            font-size: 10px;
                        }

                        @include phoneMini {
                            font-size: 10px;
                        }
                    }
                }

                .addInfo {
                    //border: 1px solid purple;
                    @include flexBar($position: relative, $justify: center, $display: flex, $align: center, $flex_d: column, $gap: 5%);
                    //font-family: "Inter";
                    height: 95%;

                    .addIcon {
                        position: relative;
                        color: $primary-color;
                        //border: 1px solid red;
                        font-size: 2.5rem;
                    }

                    .text {
                        //border: 1px solid red;
                        font-size: 13px;
                        font-weight: 600;
                        color: $primary-color;
                    }
                }
            }

            .price_items {
                //border: 2px solid red;
                //top: 2%;
                @include size(100%, 40%);
                @include flexBar($position: relative, $justify: space-between, $gap: 1%, $flex_d: column, $wrap: none, $align: flex-start, $flex: none);

                @include phonePro {
                    height: 45%;
                }

                .grosstotal, .discount, .deliveryFee, .tax, .total {
                    //border: 1px solid red;
                    @include flexBar($position: relative, $justify: space-between, $display: flex, $align: center, $flex_d: row);
                    @include size(100%, 18%);
                    font-size: 14px;

                    @include tablet {
                        font-size: 12px;
                    }

                    @include phoneMini {
                        font-size: 12px;
                    }

                    .amount {
                        @include flexBar($position: relative, $display: flex, $justify: flex-end, $align: center, $flex_d: row);
                        font-weight: 600;

                        .minus {
                            position: relative;
                            left: -10%;
                        }
                    }
                }

                .total {
                    //height: 40%;
                    //padding-top: 10px;
                    border-top: 2px dashed rgba(95, 103, 173, 0.6);
                }
            }
            
            button {
                @include flexBar($position: relative, $justify: center, $gap: 5%, $flex_d: row, $wrap: none, $align: center, $flex: none);
                border: 1px solid $primary-color;
                background: $primary-color;
                @include size(100%, 10%);
                //top: 8%;
                //display: none;
                color: $tertiary-color;
                border-radius: 4px;
                font-size: 14px;
                transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

                .icon {
                    font-size: 1.2rem
                }

                @include tabletPro {
                    height: 10%;
                }

                @include phonePro {
                    @include size(100%, 16%);
                    font-weight: 400;
                    //top: 45%;
                    //border: 2px solid red;
                    //left: 25%;
                } 

                &:hover {
                    transform: scale(1.01);
                }
            }
        }

        
    }
}

.modal_container {
    @include size ($width: 100%, $height: 200%, $max-width: 100%, $max-height: 500%);
    @include flexBar ($align: flex-start, $justify: center, $gap: 1%, $flex_d: row, $flex: none, $bg-color: rgba(0, 0, 0, 0.4));
    z-index: 100;
    //border: 2px solid red;
    left: 0%;
    top: 0%;

    @include tabletPro {
        height: 105%;
    }   

    @include phonePro {
        //border: 2px solid red;
        //background-color: rgba(0, 0, 0, 0.4);
        height: 150%;
    } 

    .modal {
        //@include position($left: 35%, $top: 40%);
        //border: 1px solid red;
        @include flexBar($position: sticky, $display: flex, $wrap: none, $align: none, $justify: none, $gap: 10%, $flex_d: column, $flex: none, $bg-color: $tertiary-color);
        @include size(40%, 20%);
        top: 30%;
        border-radius: 6px;
        padding: 1% 2%;
        font-family: "Inter";
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);

        @include tabletPro {
            @include size(45%, 15%);
            //top: -20%;
        } 

        @include phonePro {
            @include size(65%, 15%);
            padding: 5% 2.5%;
            top: 30%;
            align-items: center;
            justify-content: center;
        } 

        @include phoneMini {
            @include size(75%, 20%);
        }

        .modal_heading {
            display: flex;
            flex-direction: row;
            gap: 10%;
            justify-content: space-between;
            @include text-layout($size: 16px, $color: $text-color-2, $l_height: 24px);
            font-weight: 600;
            //border: 2px solid red;

            @include phonePro {
                width: 80%;
            }

            button {
                background-color: transparent;
                border-color: transparent;

                .icon {

                    @include phonePro {
                        font-size: 1rem;
                    }
                }
            }
        }

        .modal_body {
            @include text-layout($size: 14px, $color: $text-color-2, $l_height: 24px);
            font-weight: 400;
            //border: 1px solid red;

            @include phonePro {
                text-align: center;
                width: 80%;
                line-height: 20px;
            }
        }

        .remove_item_button {
            @include flexBar($position: relative, $display: flex, $wrap: none, $align: center, $justify: center, $gap: 5%, $flex_d: row, $flex: none, $bg-color: $primary-color);
            border: 1px solid $primary-color;
            top: 15%;
            height: 25%;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            color: $tertiary-color;

            @include tablet {
                top: 0%;
            }

            @include phonePro {
                top: 0%;
                @include size(80%, 20%);
            } 

            @include phoneMini {
                top: 0%;
            }
        }

        button {
            border: 1px solid $primary-color;
            transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);


            &:hover {
                transform: scale(1.05);
            }
        }
    }

}

.inactiveModa {
    display: none;
}

.modalState {
    pointer-events: none;
    filter: opacity($modal-opacity);
    //overflow-x: hidden;
    //background: $text-color-3;
    //filter: brightness(50%);
}