/* This contains the scss for the faq component page */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
.faqsHero {
    //border: 1px solid red;
    @include flexBar($align: center, $justify: center, $gap: 2%);
    @include size($height: 90%);
    margin: 0px;
    left: 0px;
    top: 0px;

    @include tabletPro {
        //top: 6%;
        @include size($height:50%);
    }

    @include phonePro {
        //top: 6%;
        @include size($height:55%);
    }


    .gradientOverlay {
        //border: 1px solid green;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        z-index: 1;
        position: absolute;
        @include size(100%, 100%);
    }

    .image {
        position: absolute;
        @include size(100%, 100%);
        object-fit: cover;
        object-position: center 60%;
    }

    .brief {
        //border: 1px solid red;
        z-index: 3;
        @include flexBar($position: relative, $align: center, $flex_d: column, $justify: center, $gap: 10%);
        @include size(70%, 70%);
        //top: 10%;

        @include tabletPro {
            top: 5%;
        }

        @include tablet {
            width: 80%;
        }

        @include phonePro {
            width: 80%;
            top: 0%;
            gap: 10%;
        }

        .brief1 {
            @include text-layout($size: 40px, $color: $primary-color, $l_height: 52px);
            font-weight: 700;
            @include flexBar($position: relative, $align: center, $flex_d: row, $justify: center, $gap: 3%);
            font-family: "Aclonica";
            @include size(100%, auto);
            //border: 1px solid red;
            //margin: 0px;
            //margin-bottom: -20px;

            @include phonePro {
                font-size: 30px;
                line-height: 35px;
                top: 5%;
                //text-align: center;
            }

            @include phoneMini {
                font-size: 25px;
                line-height: 30px;
            }
        }

        .brief2 {
            @include size(70%, 15%);
            //border: 2px solid red;
            @include text-layout($size: 16px, $color: $tertiary-color, $l_height: 24px);
            text-align: center;
            font-family: "Roboto";

            @include tabletPro {
                @include size(70%, 10%);
            }

            @include phonePro {
                //border: 2px solid red;
                line-height: 20px;
                font-size: 13px;
                @include size(95%, 20%);
            }

            @include phoneMini {
                font-size: 12px;
                line-height: 20px;
            }

            // @include text-layout($size: 15px, $l_height: 25px, $color: $text-color-4);
            // font-weight: 600;
            // @include flexBar($position: relative, $align: flex-start, $flex_d: row, $justify: center, $gap: 3%);
            // font-family: "Poppins";
            // @include size(90%, 50%);
            // left: 0%;
            // top: 0%;
            // //border: 1px solid red;

            // @include tabletPro {
            //     top: 0%;
            // }

            // @include tablet {
            //     width: 80%;
            //     top: -5%;
            // }

            // @include phonePro {
            //     font-size: 13px;
            //     line-height: 17px;
            //     width: 100%;
            //     top: -5%;
            //     text-align: center;
            // }

            // @include phoneMini {
            //     font-size: 12px;
            //     line-height: 15px;
            //     top: -10%;
            // }
        }
    }
}

.faqMain {
    @include flexBar($align: center, $justify: center, $gap: 2%, $flex_d: column);
    @include size($height: 1300px);
    margin: 0px;
    left: 0px;
    top: 90%;
    padding: 2% 0%;
    max-height: 10000px;
    font-family: "Roboto";
    //border: 1px solid green;
    //background-image: linear-gradient(to bottom, transparent, transparent, $primary-color);

    @include tabletPro {
        top: 50%;
        //height: 1550px;
        //border: 1px solid green;
    }

    // @include tablet {
    //     top: 600px;
    // }

    // @include tabletMini {
    //     top: 520px;
    //     //height: 1550px;
    //     //border: 1px solid green;
    // }

    @include phonePro {
        top: 57%;
        height: 1350px;
        //border: 1px solid green;
    }

    // @include phonePro {
    //     height: 1050px;
    // }

    .accordian {
        @include flexBar($position: relative, $justify: flex-start, $gap: 10px, $flex_d: column, $wrap: wrap, $align: none, $flex: none);
        //border: 2px solid $primary-color;
        @include size(70%, 90%);
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        padding: 0% 0%;
        font-family: "Roboto";

        @include tabletPro {
            width: 90%;
        }

        @include phonePro {
            top: 0%;
            //border: 2px solid red;
            width: 95%;
            height: 90%;
        }

        .accordianItem {
            border: 3px solid rgba(0, 0, 0, 0.08);
            border-radius: 8px;
            @include flexBar($position: relative, $justify: flex-start, $gap: 0%, $flex_d: column);
            //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 1% 2%;
            //@include size(100%, 10%);
            font-family: "Poppins";
            background-color: white;

            .question {
                @include flexBar($position: sticky, $justify: space-between, $gap: 5px, $flex_d: row, $wrap: none, $align: center, $flex: none);
                //border: 1px solid $primary-color;
                padding: 1% 2%;
                text-align: center;
                border: none;
                background-color: transparent;
                @include size(100%, 60px);
                //text-align: center;
                @include text-layout($size: 20px, $l_height: 28px);
                font-weight: 500;
                //border-radius: 5px;
                //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

                @include phonePro {
                    @include text-layout($size: 15px, $l_height: 22px);
                    //height: 50px;
                    //border: 1px solid red;
                }

                @include phoneMini {
                        font-size: 14px;
                        height: 40px;
                }

                %symbol {
                    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

                    @include phoneMini {
                        font-size: 1rem;
                    }
                }

                .activeSymbol {
                    // position: relative;
                    //border: 1px solid $primary-color;
                    top: -10%;
                    @extend %symbol;
                    transform: rotate(45deg);

                }

                .inactiveSymbol {
                    //border: 1px solid $primary-color;
                    @extend %symbol;
                    transform: rotate(0deg);
                }
            }

            .answer {
                border-top: 1px solid rgba(238, 80, 36, 0.2);
                display: none;
                @include size(96%, 45%);
                @include text-layout($size: 14px, $l_height: 17px);
                padding: 1% 2%;

                top: -2%;
                //padding: 1% 1%;

                @include phonePro {
                    line-height: 16px;
                    font-size: 11px;
                }

                @include phoneMini {
                    font-size: 10px;
                    line-height: 13px;
                }

                span {
                    color: $primary-color;
                    text-decoration: underline;
                }
            }

            .answerActive {
                display: block;
                align-items: center;
                justify-content: center;

                //height: 45%;

                //padding: 0% 2%;
                //border: 2px solid $error-color;
                //transform: rotate(90deg);
            }
        }

        .activeAccordian {
            box-shadow: 0 0 10px rgba(238, 80, 36, 0.2);
            border: 3px solid rgba(238, 80, 36, 0.2);
            // box-shadow: 0px 106px 82px -10px rgba(0, 0, 0, 0.08);
            // border: none;
        }

        .inactiveAccordian {
            z-index: 5;
        }
    }

    .contact {
        border: 1px solid $text-color-3;
        @include flexBar($position: relative, $justify: center, $align: center, $gap: 10px);
        //border: 2px solid $primary-color;
        @include size(60%, 5%);

        @include tabletPro {
            top: -4%;
            width: 80%;
            //height: 1550px;
            //border: 1px solid green;
        }

        @include tablet {
            top: -7%;
            width: 90%;
        }

        @include tabletMini {
            top: -9%;
        }

        @include phonePro {
            top: -15%;
            @include size(90%, 10%);
            gap: 10%;
            flex-direction: column;
        }

        @include phoneMini {
            top: -25%;
        }

        span {
            @include text-layout($size: 15px, $l_height: 20px);
            font-weight: 500;

            @include phonePro {
                text-align: center;
            }

            @include phoneMini {
                font-size: 12px;
            }
        }

        button {
            //border: 1px solid red;
            @include flexBar($position: relative, $justify: center, $align: center, $gap: 10px);
            @include size(20%, 70%);
            background-color: $primary-color;
            border: none;

            @include phonePro {
                top: -4%;
                @include size(90%, 40%);
                //height: 1550px;
                //border: 1px solid green;
            }

            span {
                @include text-layout($size: 13px, $l_height: 20px, $color: white);
                font-weight: 600;
            }

            .icon {
                color: white;
            }

            &:hover {
                box-shadow: 0 0 10px rgba(238, 80, 36, 0.2);
            }
        }
    }
}