/** This contains the scss for the time bar component */

///Libraries -->
@import "@/styles/base.module";

.main {
    @include flexBar($align: center, $justify: center, $flex_d: column);
    @include position($left: 0%, $top: 1%);
    @include size(100%, 40px);
    //z-index: 10;
    //border: 1px solid red;
    //display: none;

    @include tabletPro {
        //border: 2px solid red;
        top: 0.5%;
        //height: 65%;
    }

    @include tablet {
        top: 0%;
    }

    @include tabletMini {
        //height: 70%;
    }

    @include phonePro {
        //border: 2px solid red;
        top: -2%;
        //height: 90%;
    }

    .container {
        @include flexBar($position: relative, $justify: flex-start, $align: center, $gap: 1%);
        @include size(95%, 100%);

        @include tabletPro {
            //border: 2px solid red;
            //@include size(100%, 1%);
        }

        @include phonePro {
            position: relative;
            //height: 7%;
            //border: 2px solid yellow;
            //top: -3%;
            //justify-content: center;
        }

        .bar {
            border: 1px solid $primary-color;
            position: relative;
            @include size(14px, 100%);
            border-radius: 4px;
            background-color: $primary-color;
        }

        .barTitle {
            //border: 1px solid $primary-color;
            position: relative;
            @include text-layout($size: 13px, $l_height: 20px, $color: $primary-color);
            font-weight: 500;
            font-family: "Poppins";
        }
    }
}

.productPage {
    top: -3%;

    @include phonePro {
        top: -4%;
    }
}

.productInfoPage {
    top: 12%;

    @include tabletPro {
        top: 8%;
    }

    @include phonePro {
        top: 12%;
    }
}
