/* This contains the scss for the about component page */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
.main {
    @include flexBar($flex_d: column, $justify: center, $align: center, $gap: 0%);
    @include position($left: 0%, $top: 98%);
    @include size($height:60%);
    background-color: rgba(0, 0, 0, 0.9);
    //border: 1px solid red;
    font-family: "Roboto";

    @include tabletPro {
        top: 55%;
        @include size($height:30%);
        //border: 2px solid red;
    } 

    @include phonePro {
        //border: 0.5px solid red;
        top: 65%;  
    }

    .gradientOverlay {
        //border: 1px solid green;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        z-index: 1;
        position: absolute;
        @include size(100%, 100%);
    }
    
    .background {
        object-fit: cover;
        object-position: center 30%;
        position: absolute;
        @include size(100%, 100%);
        //background-image: linear-gradient(to bottom, rgba(182, 226, 253, 0.5), rgba(182, 226, 253, 0.7))
    }

    .brief {
        @include flexBar($flex_d: column, $justify: center, $align: center, $gap: 2.5%);
        @include size(100%, 100%);
        background-color: (0, 0, 0, 0.5);
        z-index: 10;
        //border: 1px solid red;
        

        h2 {
            @include text-layout($size: 30px, $color: $tertiary-color, $l_height: 72px);
            font-weight: 600;
            //border: 1px solid red;

            @include phonePro {
                //border: 0.5px solid red;
                position: relative;
                //top: -15%; 
            } 

            @include phoneMini {
                font-size: 25px;
            }
        }

        span {
            //border: 2px solid red;
            @include text-layout($size: 16px, $color: $tertiary-color, $l_height: 24px);
            text-align: center;
            @include size(50%, 25%);

            @include tabletPro {
                @include size(60%, 40%);
            }

            @include phonePro {
                //border: 0.5px solid red;
                font-size: 13px;
                line-height: 20px;
                position: relative;
                //top: -15%; 
                @include size(80%, 45%);
            } 

            @include phoneMini {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}