/* This contains the scss for the about component page */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
.main {
    @include flexBar($flex_d: row, $justify: center, $align: center, $gap: 5%);
    @include position($left: 0%, $top: 95%);
    @include size($height: 65%);
    //border: 1px solid red;
    font-family: "Roboto";

    @include tabletPro {
        top: 50%;
        @include size($height:30%);
        //border: 2px solid red;
    } 

    @include phonePro {
        flex-direction: column-reverse;
        //border: 0.5px solid red;
        top: 55%;  
        gap: 0%;
        height: 65%;
    }

    @include phoneMini {
        top: 60%;
    }

    .brief {
        @include flexBar($position: relative, $flex_d: column, $justify: center, $align: none, $gap: 5%);
        //border: 2px solid green;
        @include size(40%, 100%);

        @include tablet {
            gap: 0%;
        }

        @include phonePro {
            //border: 2px solid red;
            @include size(90%, 30%);
            padding: 0% 3%;
            gap: 2%;
        }

        h2 {
            //border: 1px solid red;
            @include text-layout($size: 30px, $color: $text-color-1, $l_height: 72px);
            font-weight: 600;
            @include flexBar($position: relative, $justify: flex-start, $align: center);

            @include tablet {
                margin: 0px;
            }

            @include phonePro {
                height: 15%;
                margin-bottom: 5px;
                font-size: 25px;
            }

            @include phoneMini {
                font-size: 25px;
                height: 15%;
                margin-top: 40px;
            }
        }

        span {
            //border: 1px solid red;
            @include text-layout($size: 16px, $color: $text-color-1, $l_height: 24px);

            @include phonePro {
                font-size: 13px;
                line-height: 20px;
            }

            @include phoneMini {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }

    .image {
        //border: 2px solid black;
        background-image: linear-gradient(to left, transparent, transparent, rgba(255, 255, 255, 1));
        @include size(50%, 100%);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include tabletPro {
            height: 90%;
        }

        @include tabletMini {
            top: 10%;
        }

        @include phonePro {
            //display: none;
            @include size(90%, 60%);
        }

        img {
            object-fit: cover;
            object-position: center 30%;
            position: relative;
            @include size(100%, 100%);
        }
    }
}