/* This contains the scss for the terms page */

//Libraries -->
@import "../styles/base.module";

//Commencing the code -->
.html, .body {
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
    overflow-x: auto;
    overflow-y: auto;    
}

.modalState {
    //border: 2px solid red;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.05);
}