/** This contains the scss for the similar product component */

///Libraries -->
@import "@/styles/base.module";

///Commencing the code
.main {
    @include flexBar($position: absolute, $justify: flex-start, $flex_d: column, $wrap: none, $align: center, $flex: none);
    @include position($left: 0%, $top: 315%);
    @include size(100%, 55%);
    //border: 2px solid $error-color;
    font-family: "Roboto";
    //padding: 1% 4%;
    //top: 40%;

    @include tabletPro {
        //border: 2px solid $error-color;
        @include position($left: 0%, $top: 150%);
        height: 30%;
    } 

    @include tablet {
        top: 140%;
    }

    @include tabletMini {
        top: 145%;
        height: 32%;
    }

    @include phonePro {
        //border: 2px solid $error-color;
        @include position($left: 0%, $top: 195%);
        height: 40%;
        top: 220%;
        justify-content: space-between;
    } 

    @include phoneMini {
        //top: 220%;
    }

    button {
        outline: none;
    }
    
    .heading {
        @include flexBar($position: relative, $justify: space-between, $gap: 0px, $flex_d: row, $wrap: none, $align: center, $flex: none);
        @include text-layout($size: 20px, $l_height: 24px);
        //top: -2%;
        //border: 2px solid mul;
        width: 95%;
        //padding: 0% 1%;

       @include phoneMini {
        height: 10%;
       }

        .subheading {
            //border: 2px solid $primary-color;
            font-weight: 500;
            @include flexBar($position: relative, $justify: flex-start, $flex_d: row, $wrap: none, $align: center);

            @include phonePro {
                font-size: 18px;
                font-weight: 600;
            }

            @include phoneMini {
                font-size: 14px;
                @include size(60%, 100%);
            }
        }

        button {
            //border: 2px solid red;
            border: none;
            @include text-layout($size: 16px, $l_height: 24px);
            transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            @include flexBar($position: relative, $justify: flex-start, $flex_d: row, $wrap: none, $align: center);
            background-color: transparent;

            @include phoneMini {
                font-size: 12px;
                @include size(40%, 100%);
                justify-content: flex-end;
            }

            &:hover {
                //transform: scale(1.05);
                color: $primary-color;
            }
        }
    }
    
    .swipeContainer {
        //border: 1px solid blue;
        @include flexBar($position: relative, $align: center, $flex_d: row, $justify: center, $gap: 0%);
        @include size(90%, 78%);
        padding: 0.5%;

        @include tabletPro {
            height: 75%;
        }

        @include phonePro {
            width: 95%;
        }

        .slider {
            //border: 1px solid red;
            @include flexBar($position: relative, $align: center, $flex_d: row, $justify: center, $gap: 0%);
            @include size(16%, 98%);
            background-color: white;
            border-radius: 5px;
            //box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            //padding: 1%;
            top: 1%;
            //font-family: "Poppins";

            @include tabletPro {
                width: 18%;
                //gap: 5%;
            }

            @include tablet {
               width: 20%;
            }

            @include phonePro {
                width: 33%;
            }

            &:hover {
                //transform: scale(1.05);
                box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .controller {
        //border: 1px solid red;
        @include flexBar($position: absolute, $align: center, $flex_d: row, $justify: space-between, $gap: 5%);
        @include size(99%, 15%);
        top: 50%;
        color: $primary-color;

        @include phonePro {
            gap: 1%;
            //justify-content: space-between;
        }

        .prev, .next {
            color: white;
            border: none;
            border-radius: 5px;
            border: 1px solid $primary-color;
            @include size(3%, 100%);
            @include flexBar($position: relative, $align: center, $flex_d: row, $justify: center, $gap: 3%);
            z-index: 5;
            //top: -10%;

            @include phonePro {
                width: 10%;
                display: none;
            }

            &:hover {
                color: $primary-color;
            }
        }

        .pagination {
            color: $text-color-3;
            position: relative;
            top: 22%;
            align-items: center;
            //@include flexBar($position: relative, $align: center, $flex_d: row, $justify: center, $gap: 3%);
            //border: 1px solid red;
            //display: none;
            @include size(30%, 100%);

            @include tablet {
                width: 40%;
            }

            @include phonePro {
                gap: 0%;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                top: 15%;
            }

            @include phone {
                //width: 80%;
            }

            @include phoneMini {
                top: -5%;
                line-height: 12px;
            }
        }
    }

    .product_slide {
        @include flexBar($position: relative, $justify: center, $gap: 1%, $flex_d: row, $wrap: auto, $align: none, $flex: auto);
        overflow: hidden;
        //padding: 0% 1%;
        //@include position($left: 0%, $top: 15%);
        @include size(100%, 90%, $max-width: auto);
        //border: 2px solid $error-color;

        @include phonePro {
           //border: 2px solid $error-color;
           @include size(95%, 80%);
           //top: 13%;
        } 

        .product_carousel {
            position: relative;
            @include position($left: 0%, $top: 5%);
            padding: 0.5% 1%;
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            @include size(13%, 80%);
            //border: 2px solid $primary-color;
            transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

            @include tabletPro {
                //border: 2px solid $error-color;
                width: 14%;
                height: 70%;
             } 

            @include phonePro {
                //border: 2px solid $error-color;
                width: 50%;
                height: 90%;
                gap: 1%;
             } 

            .carousel_image {
                //border: 1px solid red;
                height: 65%;
                @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%, $flex_d: column);

                .img {
                    position: relative;
                    object-fit: contain;
                    @include size (100%, 100%);
                }

                @include tabletPro {
                    height: 65%;
                 } 

                @include phonePro {
                    //border: 1px solid red;
                    height: 50%;
                 } 
                
            }

            .carousel_name {
                @include text-layout($size: 11px, $l_height: 20px);
                //border: 2px solid red;
                height: 15%;
                @include flexBar ($position: relative, $wrap: none, $align: center, $justify: flex-start);

                @include tabletMini {
                    line-height: 10px;
                }

                @include phonePro {
                    @include text-layout($size: 10px, $l_height: 10px);
                    //border: 1px solid red;
                    height: 20%;
                } 

                @include phoneMini {
                    height: 20%;
                    font-size: 7px;
                    line-height: 8px;
                }
            }

            .carousel_price {
                @include flexBar ($position: relative, $wrap: none, $align: flex-start, $justify: none, $gap: 0%, $flex_d: column);
                //border: 2px solid red;
                height: 20%;

                @include tablet {
                    height: 17%;
                }

                @include phonePro {
                    //border: 1px solid red;
                }

                @include phoneMini {
                    height: 15%;
                }

                .price_1 {
                    @include text-layout($size: 13px, $l_height: 20px);
                    //border: 2px solid red;
                    @include size(100%, 50%);

                    @include tablet {
                        height: 40%;
                    }

                    @include phonePro {
                        @include text-layout($size: 12px,  $l_height: 17px);
                    }

                    @include phoneMini {
                        height: 50%;
                        font-size: 10px;
                    }
                }

                .price_2 {
                    @include text-layout($size: 11px, $color: $text-color-3, $l_height: 20px);
                    text-decoration: line-through;
                    //border: 2px solid red;
                    @include size(100%, 50%);

                    @include tablet {
                        height: 40%;
                    }

                    @include phonePro {
                        @include text-layout($size: 10px, $color: $text-color-3, $l_height: 17px);
                    }

                    @include phoneMini {
                        height: 50%;
                        font-size: 10px;
                    }
                }
            }

            &:hover {
                //transform: scale(1.05);
                box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

// %topProductLayout {

.modalState {
    pointer-events: none;
    filter: opacity($modal-opacity);
    //border: 2px solid $primary-color;
}

.productInfoPage {
    top: 165%;
    //border: 2px solid black;

    @include tabletPro {
        top: 95%;
    }

    @include tabletMini {
        top: 105%;
    }

    @include phonePro {
        top: 245%;
    } 

    @include phone {
        top: 260%;
    }
}

.cartPage {
    //border: 2px solid $primary-color;
    top: 85%;

    @include tabletPro {
        //border: 2px solid $error-color;
        @include position($left: 0%, $top: 50%);
        //height: 30%;
    } 

    @include phonePro {
        top: 100%;
        //border: 2px solid $error-color;
        //height: 30%;
    } 
}

.searchPage {
    //border: 2px solid black;
    top: 115%;
    //height: 43%;

    @include tabletPro {
        top: 55%;
    }

    @include phonePro {
        top: 80%;
        //border: 2px solid $primary-color;
    }
}

.others {
    //border: 2px solid red;
}