/* This contains the scss for the order component */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
.main {
    //border: 1px solid purple;
    @include flexBar($align: center, $justify: center, $gap: 2%, $flex_d: column);
    top: 12%;
    left: 0px;
    font-family: "Poppins";
    //padding: 1% 1%;
    @include size(100%, 120%);
    //background-image: linear-gradient(to bottom, #ffe0ec, white);

    @include tabletPro {
        //border: 1px solid red;
        top: 7.5%;
        height: 60%;
    }

    @include tablet {
        height: 70%;
    }

    @include phonePro {
        top: 15%;  
        height: 120%;
    }

    h2 {
        position: relative;
        @include text-layout($size: 40px, $l_height: 52px, $color: $primary-color);
        font-weight: 700;
        margin-bottom: 0px;
        font-family: "Aclonica";

        @include tabletPro {
            font-size: 25px;
        }

        @include phonePro {
            margin-top: -10px;
            font-size: 30px;
        }

        @include phoneMini {
            font-size: 25px;
            top: 1%;
        }
    }

    .mainBrief {
        @include text-layout($size: 16px, $l_height: 20px);

        @include phonePro {
            margin-top: 0px;
        }

        @include phoneMini {
            font-size: 12px;
            position: relative;
            //top: -2%;
        }
    }

    .container {
        //border: 1px solid red;
        @include flexBar($position: relative, $align: center, $justify: center, $gap: 1%, $flex_d: column);
        @include size(80%, 80%);
        @include text-layout($size: 14px, $l_height: 25px, $color: $text-color-2);
        top: 5%;

        @include tablet {
            width: 90%;
        }

        @include phonePro {
            @include size(90%, 90%);
            top: 10%;
        }

        @include phoneMini {
            font-size: 10px;
        }

        .orderSection {
            //border: 1px solid red;
            border-bottom: 1px solid $primary-color;
            @include flexBar($position: relative, $align: center, $justify: space-between, $gap: 1%);
            @include size(90%, 5%);

            @include phonePro {
                line-height: 20px;
                width: 100%;
            }

            .orderId {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 1%);
                @include size(45%, 100%);
                color: $primary-color;

                @include phonePro {
                    flex-direction: column;
                    text-align: start;
                    padding-bottom: 5px
                }

                span {
                    //border: 1px solid red;

                    @include phonePro {
                        @include size(100%, 50%);
                    }
                }

                .span2 {
                    
                    @include phoneMini {
                        //border: 1px solid blue;
                        font-size: 8px;
                    }
                }
            }

            .orderDate {
                //border: 1px solid red;
                @include flexBar($position: relative, $align: center, $justify: flex-end, $gap: 1%);
                @include size(45%, 100%);

                @include phonePro {
                    flex-direction: column;
                    text-align: end;
                    padding-bottom: 5px
                }

                span {
                    //border: 1px solid red;

                    @include phonePro {
                        @include size(100%, 50%);
                    }
                }
            }
        }

        .deliverySection {
            //border: 1px solid red;
            //border-top: 1px solid $text-color-3;
            border-bottom: 1px solid $primary-color;
            @include size(90%, 25%);
            @include flexBar($position: relative, $align: center, $justify: space-between, $gap: 1%);
            line-height: 20px;

            @include phonePro {
                flex-direction: column;
                @include size(100%, 25%);
                padding: 5% 0%;
                //gap: 1%;
            }

            .deliveryAddress {
                //border: 1px solid yellow;
                @include size(45%, 90%);
                @include flexBar($position: relative, $align: flex-end, $justify: center, $flex_d: column, $gap: 0%);

                @include phonePro {
                    @include size(100%, 50%);
                    align-items: flex-start;
                    line-height: 17px;
                    padding: 3% 0%;
                    top: -2%;
                }

                @include phoneMini {
                    line-height: 13px
                }

                .title {

                    @include phonePro {
                        margin-bottom: 5px
                    }
                }
                
            }

            .deliveryInfo {
                //border: 1px solid red;
                @include size(45%, 90%);
                //box-shadow: 10px 10px black;
                @include flexBar($position: relative, $align: flex-start, $justify: center, $flex_d: column, $gap: 5%);

                @include phonePro {
                    @include size(100%, 50%);
                    line-height: 17px;
                    border-bottom: 1px dashed $primary-color;
                    gap: 15%;
                    //padding-bottom: 10px;
                }

                @include phoneMini {
                    line-height: 13px
                }

                .deliveryDate, .deliveryStatus, .paymentStatus {
                    //border: 1px solid red;
                    @include size(100%, auto);
                    @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 0%);
                    top: -10%;

                    @include phonePro {
                        flex-direction: row;
                        justify-content: space-between;
                    }

                    .text {
                        //border: 1px solid red;
                        position: relative;
                        padding: 1% 2%;
                        border-radius: 5px;
                    }
                }
            }
        }

        .cartList {
            //border: 1px solid blue;
            border-bottom: 1px solid $primary-color;
            @include size(90%, 50%);
            @include flexBar($position: relative, $align: center, $justify: flex-start, $flex_d: column, $gap: 0%);
            overflow: auto;

            @include phonePro {
                width: 100%;
                top: 1%;
                height: 45%;
            }

            .cartItem {
                //border: 1px solid red;
                border-bottom: 1px solid $text-color-3;
                @include size(100%, 20%);
                @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);

                .cartImage {
                    //border: 1px solid red;
                    @include size(10%, 90%);
                    @include flexBar($position: relative, $align: center, $justify: center, $gap: 0%);

                    @include phonePro {
                        width: 20%;
                    }

                    .img {
                        position: relative;
                        @include size(100%, 100%);
                        object-fit: contain;
                    }
                }

                .cartName {
                    //border: 1px solid red;
                    @include size(50%, 90%);
                    @include flexBar($position: relative, $align: center, $justify: flex-start, $gap: 0%);
                    left: 5%;

                    @include phonePro {
                        line-height: 20px;
                    }
                }

                .cartPriceQuantity {
                    //border: 1px solid red;
                    @include size(15%, 90%);
                    @include flexBar($position: relative, $align: flex-end, $justify: center, $flex_d: column, $gap: 0%);
                    line-height: 20px;
                    left: 24%;

                    @include phonePro {
                        width: 20%;
                        left: 8%;
                    }
                }
                
            }
        }

        .totalSection {
            //border: 1px solid red;
            border-bottom: 1px solid $primary-color;
            @include size(90%, 23%);
            @include flexBar($position: relative, $align: center, $justify: center, $flex_d: column, $gap: 1%);

            @include phonePro {
                width: 100%;
                top: 1%;
            }

            .subTotal,
            .discount,
            .deliveryFee,
            .total {
                //border: 1px solid red;
                //padding-top: 5px;
                //padding-bottom: 5px;
                border-bottom: 1px solid $text-color-3;
                @include size(100%, 23%);
                @include flexBar($position: relative, $align: center, $justify: space-between, $gap: 1%);

                .amount {
                    @include flexBar($position: relative, $display: flex, $justify: flex-end, $align: center, $flex_d: row);
                    //font-weight: 600;

                    .minus, .add {
                        position: relative;
                        left: -10%;
                    }
                }
            }

            .total {
                border: none;
                padding-top: 5px;
                height: 25%;
                //padding-bottom: 15px;
            }
        }
    }

}