/** This contains the scss for the product component */

///Libraries -->
@import "@/styles/base.module";

///Commencing the code
.main {
    @include flexBar($position: relative, $flex_d: column, $align: center, $justify: center);
    @include position($left: 0%, $top: 0%);
    @include size(90%, 93%);
    //border: 2px solid green;
    padding: 0% 5%;
    font-family: "Roboto";
    //display: none;

    @include tabletPro {
        //border: 2px solid red;
        //top: 80%;
        height: 65%;
    }

    @include tablet {
        //top: 75%;
    }

    @include tabletMini {
        height: 70%;
    }

    @include phonePro {
        //border: 2px solid red;
        top: 2%;
        height: 90%;
    }

    button {
        outline: none;
    }

    .header_section {
        position: absolute;
        display: flex;
        @include size(95%, 35px);
        justify-content: flex-start;
        align-items: center;
        //text-align: center;
        //padding: 0% 2.5%;
        //border: 2px solid red;
        top: -5%;

        @include tabletPro {
            //border: 2px solid red;
            //@include size(100%, 1%);
            top: -7%;
        }

        @include tablet {
            top: -8%;
        }

        @include phonePro {
            top: -7%;
            //position: relative;
            //height: 7%;
            //border: 2px solid yellow;
            //top: -3%;
            //justify-content: center;
        }

        @include phone {
            top: -8%;
        }

        span {
            @include text-layout($size: 13px, $l_height: 20px);
            position: relative;
            top: 1%;
            font-family: "Inter";

            @include phonePro {
                position: relative;
                top: 3%;
                left: 0%;
                font-size: 14px;
            }

            @include phoneMini {
                font-size: 12px;
            }
        }
    }
    
    .product_list {
        position: relative;
        @include size(105%, 100%);
        //border: 2px solid red;

        .filters {
            //border: 1px solid red;
            @include flexBar ($position: relative, $align: center, $justify: space-between, $gap: 1%, $flex_d: row);

            .sort_section {
                @include flexBar($position: relative, $wrap: none, $gap: 5px);
                @include text-layout($size: 16px, $l_height: 20px);
                align-items: center;
                z-index: 5;
                //border: 2px solid $primary-color;
                top: 4%;
    
                @include tabletPro {
                    top: 7%;
                    //height: 8%;
                }
    
                @include phonePro {
                    //border: 2px solid $primary-color;
                    //top: -34%;
                    top: 5%;
                    height: 5%;
                    gap: 0px;
                }
    
                @include phoneMini {
                    font-size: 12px;
                }
    
                .sort_button {
                    color: $primary-color;
                    background-color: inherit;
                    border-color: transparent;
                    //border: 1px solid blue;
                }
    
                // span {
                // }
    
                .sort_option {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    background: $tertiary-color;
                    box-shadow: 0px 2px 4px rgba(52, 69, 99, 0.18);
                    border-radius: 4px;
                    top: 120%;
                    z-index: 2;
                    @include size(220%, auto);
                    //border: 2px solid red;
                    @include text-layout($size: 12px, $l_height: 15px);
                    justify-content: center;
                    align-items: center;
                    padding: 10%;
                    border: 1px solid $text-color-3;
                    font-family: "Inter";
    
                    @include phonePro {
                        //border: 2px solid black;
                        top: 130%;
                        padding: 10% 10%;
                    }
    
                    button {
                        //border: 2px solid red; 
                        background-color: inherit;
                        border-color: transparent;
                        border-radius: 4px;
                        width: 100%;
                        padding: 2% 1%;
    
                        &:active {
                            background-color: $primary-color;
                            color: $tertiary-color;
                        }
                    }
    
                    .activeSortButton {
                        background-color: $primary-color;
                        color: $tertiary-color;
                    }
    
                    .inActiveSortButton {
                        //border: 1px solid red;
                        
                        &:hover {
                            //border-bottom: 1px solid $primary-color;
                            color: $primary-color;
                        }
                    }
                }
    
                .inactiveSort {
                    display: none;
                }
            }

            .category {
                @include flexBar($position: relative, $wrap: none, $gap: 5px);
                @include text-layout($size: 16px, $l_height: 20px);
                align-items: center;
                z-index: 5;
                //border: 2px solid $primary-color;
                top: 4%;
                //display: none;
    
                @include tabletPro {
                    top: 7%;
                    //height: 8%;
                }
    
                @include phonePro {
                    //border: 2px solid $primary-color;
                    //top: -34%;
                    top: 5%;
                    height: 5%;
                    gap: 0px;
                }
    
                @include phoneMini {
                    font-size: 12px;
                }
    
                .category_button {
                    color: $primary-color;
                    background-color: inherit;
                    border-color: transparent;
                }
    
                // span {
                // }
    
                .category_option {
                    @include flexBar($justify: center, $gap: 0px, $flex_d: column, $align: center);
                    border: 2px solid $text-color-3;
                    //@include size(70%, 100%);
                    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                    //padding: 0% 0%;
                    gap: 3px;
                    background: $tertiary-color;
                    box-shadow: 0px 2px 4px rgba(52, 69, 99, 0.18);
                    border-radius: 4px;
                    top: 120%;
                    z-index: 2;
                    @include size(220%, auto);
                    left: -130%;
                    //border: 2px solid red;
                    font-size: 12px;
                    padding: 5% 10%;
                    font-family: "Inter";
                    max-height: 2000%;
    
                    @include phonePro {
                        //border: 2px solid black;
                        top: 130%;
                        //height: 650%;
                        left: -150%;
                    }
    
                    // button {
                    //     //border: 2px solid red; 
                    //     background-color: inherit;
                    //     border-color: transparent;
                    //     border-radius: 4px;
                    //     width: 100%;
                    //     padding: 2% 1%;
    
                    //     &:active {
                    //         background-color: $primary-color;
                    //         color: $tertiary-color;
                    //     }
                    // }
    
                    // .activeSortButton {
                    //     background-color: $primary-color;
                    //     color: $tertiary-color;
                    // }
    
                    // .inActiveSortButton {
                    //     //border: 1px solid red;
                        
                    //     &:hover {
                    //         //border-bottom: 1px solid $primary-color;
                    //         color: $primary-color;
                    //     }
                    // }

                    .accordianItem {
                        //border-top: 1px solid red;
                        //border-radius: 8px;
                        @include flexBar($position: relative, $justify: flex-start, $gap: 0%, $flex_d: column);
                        //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        padding: 1% 2%;
                        @include size(100%, auto);
                        font-family: "Poppins";
                        background-color: white;
                        margin: 0px;
            
                        .question {
                            @include flexBar($position: sticky, $justify: space-between, $gap: 0px, $flex_d: row, $wrap: none, $align: center, $flex: none);
                            //border: 1px solid $primary-color;
                            padding: 1% 2%;
                            text-align: center;
                            border: none;
                            background-color: transparent;
                            @include size(100%, auto);
                            //text-align: center;
                            @include text-layout($size: 12px, $l_height: 15px);
                            font-weight: 500;
                            //border-radius: 5px;
                            //box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                            margin: 0px;
                            transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            
                            @include phonePro {
                                //@include text-layout($size: 18px, $l_height: 24px);
                                //height: 50px;
                                //border: 1px solid red;
                            }
            
                           @include phoneMini {
                            //font-size: 14px;
                            //height: 40px;
                           }
            
                            %symbol {
                                transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
                                font-size: 0.8rem;
            
                                @include phoneMini {
                                    font-size: 1rem;
                                }
                            }
            
                            .activeSymbol {
                                // position: relative;
                                //border: 1px solid $primary-color;
                                top: -10%;
                                @extend %symbol;
                                transform: rotate(45deg);
            
                            }
            
                            .inactiveSymbol {
                                //border: 1px solid $primary-color;
                                @extend %symbol;
                                transform: rotate(0deg);
                            }

                            &:hover {
                                color: $primary-color;
                            }
                        }
            
                        .answer {
                            border-top: 1px solid rgba(238, 80, 36, 0.2);
                            @include size(96%, auto);
                            @include flexBar($position: relative, $display: none, $justify: flex-start, $gap: 0%, $flex_d: column, $align: center);
                            padding: 1% 2%;
            
                            top: -2%;
                            //padding: 1% 1%;
            
                            @include phonePro {
                                line-height: 16px;
                                font-size: 12px;
                            }
            
                            @include phoneMini {
                                font-size: 10px;
                                line-height: 13px;
                            }
            
                            button {
                                position: relative;
                                @include text-layout($size: 12px, $l_height: 15px);
                                border: none;
                                background-color: transparent;

                                &:hover {
                                    color: $primary-color;
                                }
                            }

                            .activeMiniBtn {
                                background-color: $primary-color;
                                color: white; 

                                &:hover {
                                    color: white;
                                }
                            }
                        }
            
                        .answerActive {
                            display: block;
                            align-items: center;
                            justify-content: center;
            
                            //height: 45%;
            
                            //padding: 0% 2%;
                            //border: 2px solid $error-color;
                            //transform: rotate(90deg);
                        }
                    }
            
                    .activeAccordian {
                        border: 1px solid $primary-color;
                        border-radius: 4px;
                        //background-color: $primary-color;
                        //color: white;
                        //box-shadow: 0 0 10px rgba(238, 80, 36, 0.2);
                        //border: 3px solid rgba(238, 80, 36, 0.2);
                        // box-shadow: 0px 106px 82px -10px rgba(0, 0, 0, 0.08);
                        // border: none;
                    }
            
                    .inactiveAccordian {
                        z-index: 5;
                    }
                }
    
                .inactiveSort {
                    display: none;
                }
            }
        }

        .product_carousel {
            @include flexBar ($position: relative, $wrap: wrap, $align: flex-start, $justify: center, $gap: 1%, $flex_d:row);
            order: 1;
            overflow-x: auto;
            overflow-y: auto;
            flex-flow: wrap;
            flex: 50%;
            padding: 1%;
            //border: 2px solid black;
            @include position($left: 0%, $top: 0%);
            @include size(97%, 90%);

            @include tabletPro {
                //border: 2px solid red;
                top: 0%;
                height: 85%;
            }

            @include tablet {
                height: 80%;
            }

            @include tabletMini {
                height: 85%;
                //top: 6%;
            }

            @include phonePro {
                //border: 2px solid red;
                height: 80%;
                top: 4%;
                column-gap: 1%;
                //justify-content: flex-start;
                //top: -34%;
            }

            // .product_carousel {
            //     @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%, $flex_d: column);
            //     transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
            //     padding: 1%;
            //     border-radius: 4px;
            //     //border: 2px solid $primary-color;
            //     @include size(13%, 45%);

            //     @include phonePro {
            //         //border: 2px solid $primary-color;
            //         @include size(28%, 45%);
            //         padding: 1.5%;
            //         gap: 0%;
            //     }

            //     @include tablet {
            //         gap: 0%;
            //     }

            //     .carousel_image {
            //         //border: 2px solid red;
            //         @include size(100%, 60%);
            //         padding: 1%;
            //         @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 1%);
            //         //left: 13.5%;

            //         .img {
            //             position: relative;
            //             object-fit: contain;
            //             @include size(100%, 100%);
            //             //border: 1px solid green;
            //         }

            //         @include tabletPro {
            //             height: 60%;
            //         }

            //         @include phonePro {
            //             height: 60%;
            //         }
            //     }

            //     .carousel_name {
            //         //border: 2px solid red;
            //         @include text-layout($size: 11px, $l_height: 20px);
            //         @include size(100%, 15%);
            //         @include flexBar ($position: relative, $wrap: none, $align: center, $justify: flex-start, $gap: 1%);

            //         @include tablet {
            //             line-height: 18px;
            //             height: 20%;
            //         }

            //         @include tabletMini {
            //             line-height: 10px;
            //         }

            //         @include phonePro {
            //             line-height: 10px;
            //         }

            //         @include phoneMini {
            //             font-size: 8px;
            //             line-height: 10px;
            //         }
            //     }

            //     .carousel_price {
            //         //border: 2px solid red;
            //         @include size(100%, 20%);
            //         @include flexBar ($position: relative, $wrap: none, $align: flex-start, $justify: space-between, $gap: 0%, $flex_d: row);

            //         @include tablet {
            //             height: 18%;
            //         }

            //         .prices {
            //             //border: 1px solid red;
            //             @include flexBar ($position: relative, $wrap: none, $align: flex-start, $justify: none, $gap: 0%, $flex_d: column);

            //             .price_1 {
            //                 @include flexBar ($position: relative, $wrap: none, $align: center, $justify: flex-start, $gap: 0%);
            //                 //border: 2px solid red;
            //                 @include text-layout($size: 13px, $l_height: 20px);
            //                 @include size(100%, 50%);
    
            //                 @include phonePro {
            //                     font-size: 12px;
            //                 }
    
            //                 @include phoneMini {
            //                     height: 40%;
            //                     font-size: 10px;
            //                 }
            //             }
    
            //             .price_2 {
            //                 //border: 2px solid red;
            //                 @include flexBar ($position: relative, $wrap: none, $align: center, $justify: flex-start, $gap: 0%);
            //                 @include text-layout($size: 11px, $color: $text-color-3, $l_height: 20px);
            //                 text-decoration: line-through;
            //                 @include size(100%, 50%);
    
            //                 @include phoneMini {
            //                     height: 40%;
            //                     font-size: 8px;
            //                 }
            //             }
            //         }

            //         .discount {
            //             border:  1px solid $secondary-color;
            //             @include flexBar ($position: relative, $wrap: none, $align: center, $justify: center, $gap: 0%, $flex_d: row);
            //             padding: 1%;
            //             background-color: $secondary-color;

            //             span {
            //                 @include text-layout($size: 13px, $l_height: 20px, $color: $primary-color);
            //                 font-weight: 600;

            //                 @include phonePro {
            //                     font-size: 13px;
            //                 }
    
            //                 @include phoneMini {
            //                     //height: 40%;
            //                     font-size: 11px;
            //                 }
            //             }
            //         }
            //     }

            //     &:hover {
            //         transform: scale(1.05);
            //         box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
            //     }
            // }
        }

        .mobile_product_carousel_section {
            display: none;
        }

        .pagination_section {
            @include flexBar($position: relative, $display: none, $wrap: none, $justify: center, $gap: 2%, $flex_d: row, $flex: auto);
            padding: 1%;
            top: 6%;
            align-items: center;
            text-align: center;
            //border: 2px solid $primary-color;

            @include tabletPro {
                top: 6%;
            } 

            @include phonePro {
                //border: 1px solid red;
                //display: flex;
                top: 12%;
            }

            button {
                position: relative;
                border: 0.5px solid $primary-color;
                @include size(8%, 5%);
                display: flex;
                padding: 1%;
                border-radius: 4px;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: $primary-color;
                    color: $tertiary-color;
                }
            }
        }
    }
}

// .productPage {
//     top: 5%;
//     height: 95%;

//     @include phonePro {
//         top: 8%;
//     }

//     .product_list {

//         .filters {

//             .sort_section {
    
//                 .sort_option {
//                     padding: 15% 15%;
//                 }
//             }

//             .category {
//                 display: none;
//             }
//         }
//     }
// }