/* This contains the scss for the vision component page */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
.main {
    @include flexBar($flex_d: row, $justify: center, $align: flex-start, $gap: 5%);
    @include position($left: 0%, $top: 240%);
    @include size($height:70%);
    //padding: 2% 5%;
    font-family: "Roboto";
    //border: 2px solid blue;

    @include tabletPro {
        top: 115%;
        @include size($height:30%);
        //border: 2px solid red;
    } 

    @include phonePro {
        //border: 2px solid red;
        height: 60%;
        gap: 0%;
        flex-direction: column;
        top: 195%;
    }

    .mobile_image {
        display: flex;
        //border: 2px solid black;
        border: none;
        background-image: linear-gradient(to bottom, transparent, transparent, rgba(255, 255, 255, 1));
        position: relative;
        @include size(90%, 50%);
        left: 5%;

        @include desktop {
            display: none;
        }

        @include tabletPro {
            display: none;
        }

        .img {
            object-fit: cover;
            object-position: center 30%;
            position: relative;
            @include size(100%, 100%);
        }
    }

    .brief {
        @include flexBar($position: relative, $flex_d: column, $justify: center, $align: none, $gap: 5%);
        //border: 2px solid green;
        @include size(40%, 100%);
        

        @include phonePro {
            //border: 2px solid red;
            @include size(90%, 50%);
            padding: 0% 3%;
        }

        h2 {
            //border: 1px solid red;
            @include text-layout($size: 30px, $color: $text-color-1, $l_height: 72px);
            font-weight: 600;
            @include flexBar($position: relative, $justify: flex-start, $align: center);

            @include phonePro {
                height: 20%;
                margin-bottom: 5px;
            }

            @include phoneMini {
                font-size: 25px;
                height: 15%;
            }
        }

        span {
            //border: 1px solid red;
            @include text-layout($size: 16px, $color: $text-color-1, $l_height: 24px);

            @include phonePro {
                font-size: 13px;
                line-height: 20px;
            }

            @include phoneMini {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }

    .pc_image {
        //border: 2px solid green;
        background-image: linear-gradient(to left, transparent, transparent, rgba(255, 255, 255, 1));
        @include size(50%, 100%);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include tabletPro {
            height: 90%;
        }

        @include tabletMini {
            top: 10%;
        }

        @include phonePro {
            display: none;
        }

        img {
            object-fit: cover;
            object-position: center 30%;
            position: relative;
            @include size(100%, 100%);
        }
    }
}