/* This contains the scss for the order component */

//Libraries -->
@import "@/styles/base.module";

//Commencing the code -->
%form_tag {
  margin-bottom: 0.9rem;
  width: 100%;
  border: 1.5px solid #cbd5e1;
  border-radius: 4px;
}

.main {
  @include flexBar($justify: none, $align: center, $flex_d: column, $gap: 1%);
  @include position($left: 0%, $top: 8%);
  @include size($height: 160%, $max-height: 200%);
  //border: 2px solid red;
  padding: 4% 0%;
  font-family: "Roboto";
  //pointer-events: none;

  @include tabletPro {
    //border: 2px solid $error-color;
    // @include position($left: 0%, $top: 129px);
    height: 1000px;
  }

  @include phonePro {
    //border: 2px solid red;
    height: 1000px;
    top: 50px;
  }

  button, select {
    outline: none;
  }

  input {
    outline: none;

    &:focus {
      border: 1px solid $primary-color;
    }
  }

  .heading {
    @include text-layout($size: 36px, $color: $text-color-2, $l_height: 44px);
    font-weight: 600;
    //border: 2px solid red;
  }

  .brief {
    position: relative;
    display: flex;
    text-align: center;
    color: red;
    //border: 2px solid red;
    width: 40%;

    @include phonePro {
        width: 90%;
    }
  }

  .form {
    //position: absolute;
    // display: flex;
    // position: relative;
    // flex-direction: column;
    width: 30%;
    gap: 10%;
    //border: 2px solid red;
    @include text-layout($size: 14px, $color: $text-color-2, $l_height: 20px);

    @include phonePro {
      width: 90%;
      height: 70%;
      //border: 2px solid green;
    }

    &:focus {
      //background-color: red;
      outline: none;
      border: 1px solid $primary-color;
    }

    ::placeholder {
      //@include formTag;
      padding: 1%;
    }

    label {
      //display: block;
      //margin-bottom: 1rem;
      font-weight: 500;
    }

    input {
      margin-bottom: 0.7rem;
      @include size(98%, 6%);
      border: 1.5px solid #cbd5e1;
      border-radius: 4px;
      //padding: 1%;


      @include phonePro {
        height: 35px;
        //border: 2px solid red;
      }
    }

    select {
      margin-bottom: 0.7rem;
      @include size(100%, 6%);
      border: 1.5px solid #cbd5e1;
      border-radius: 4px;

      @include phonePro {
        height: 35px;
      }
    }

    .number_form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      @include size(98%, 6%);
      border: 1.5px solid #cbd5e1;
      border-radius: 4px;
      //padding: 1%;
      //border: 0.5px solid red;

      @include phonePro {
        height: 35px;
      }

      .dial_code {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        left: 1%;
        gap: 1.5%;
        border: none;
        //border: 0.5px solid red;
        @include size(29%, 100%);
        padding: 2% 0% 2% 0%;
        background-color: $tertiary-color;
        //font-weight: 600;
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

        @include phonePro {
          //border: 0.5px solid red;
          gap: 2.5%;
        }

        img {
          position: relative;
          margin: 0px;
          height: 16px;
          width: 21px;
        }

        .arrow {
          position: relative;
          left: 5%;
          transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
          //transform: rotate(90deg);
        }

        .active_arrow {
          transform: rotate(90deg);
        }

        &:hover {
          transform: scale(1.02);
        }
      }

      .number_input {
        //border: 0.5px solid red;
        @include size(100%, 100%);
        position: relative;
        //@include position($left: 1px, $top: 28%);

        @include tabletPro {
          //border: 0.5px solid red;
          width: 65%;
        }

        @include phonePro {
          height: 95%;
        }

        input {
          position: relative;
          z-index: 1;
          //@include size(100%, 100%);
          height: 85%;
          border-color: $tertiary-color;
          //padding: 1%;
        }
      }

      .dial_code_option {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 10;
        //border: 0.5px solid red;
        @include size(6%, 35%);
        @include position($left: 35.5%, $top: 32%);

        @include phonePro {
          //border: 0.5px solid red;
          //top: 38%;
          @include position($left: 6%, $top: 39%);
          @include size(20%, 36%);
        }

        @include phone {
          //top: 35%;
        }

        @include phoneMini {
          top: 56%;
        }

        @include tabletPro {
          z-index: 100;
          left: 36%;
          //border: 2px solid $error-color;
          top: 35%;
          @include size(8.5%, 35%);
          //top: 44%;
        }

        @include tablet {
          top: 41%;
        }

        @include tabletMini {
          top: 48%;
        }

        button {
          position: relative;
          background-color: $tertiary-color;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 2%;
          //border: none;
          border: 1px solid rgba(0, 0, 0, 0.09);
          //padding: 1% 1% 1% 1%;
          padding: 3% 5%;
          @include size(100%, 8%);

          @include phonePro {
            left: 1%;
            width: 100%;
          }

          @include tabletPro {
            width: 100%;
          }

          img {
            position: relative;
            margin: 0px;
            height: 16px;
            width: 21px;
          }

          &:hover {
            border: 1px solid $primary-color;
          }
        }
      }

      .inactive {
        display: none;
      }
    }

    .other_number_form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0.7rem;
      @include size(98%, 6%);
      border: 1.5px solid #cbd5e1;
      border-radius: 4px;
      //padding: 1%;
      //border: 0.5px solid red;

      @include phonePro {
        height: 35px;
      }

      .dial_code {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        left: 1%;
        gap: 1.5%;
        z-index: 0;
        //border: 0.5px solid red;
        border: none;
        @include size(29%, 100%);
        padding: 2% 0% 2% 0%;
        //font-weight: 600;
        background-color: $tertiary-color;
        transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

        @include phonePro {
          //border: 0.5px solid red;
          gap: 2.5%;
        }

        img {
            position: relative;
            margin: 0px;
            height: 16px;
            width: 21px;
        }

        .arrow {
          position: relative;
          left: 5%;
          transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
          //transform: rotate(90deg);
        }

        .active_arrow {
          transform: rotate(90deg);
        }

        &:hover {
          transform: scale(1.02);
        }
      }

      .number_input {
        //border: 0.5px solid red;
        width: 100%;
        //@include position($left: 1px, $top: 28%);

        @include tabletPro {
          //border: 0.5px solid red;
          width: 65%;
        }

        @include phonePro {
          height: 95%;
        }

        input {
          position: relative;
          z-index: 1;
          height: 85%;
          border-color: $tertiary-color;
          //padding: 1%;
        }
      }

      .dial_code_option {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1;
        //border: 0.5px solid red;
        @include size(6%, 35%);
        @include position($left: 35.5%, $top: 37%);

        @include tabletPro {
          z-index: 100;
          //border: 2px solid $error-color;
          top: 40%;
          @include size(8.5%, 35%);
        }

        @include tablet {
          top: 46%;
        }

        @include tabletMini {
          top: 54%;
        }

        @include phonePro {
          //border: 0.5px solid red;
          //top: 41%;
         @include position($left: 5%, $top: 45%);
          @include size(24%, 36%);
        }

        @include phone {
          //top: 42%;
          left: 6%;
          width: 22%;
        }

        @include phoneMini {
          top: 63%;
        }

        button {
          position: relative;
          background-color: $tertiary-color;
          display: flex;
          flex-direction: row;
          gap: 2%;
          border: 1px solid rgba(0, 0, 0, 0.09);
          //border: none;
          //padding: 1% 1% 1% 1%;
          padding: 3% 4%;
          @include size(100%, 8%);

          @include tabletPro {
            width: 100%;
          }

          img {
            position: relative;
            margin: 0px;
            height: 16px;
            width: 21px;
          }

          &:hover {
            border: 1px solid $primary-color;
          }
        }
      }

      .inactive {
        display: none;
      }
    }

    .order_button {
      @include flexBar(
        $position: relative,
        $display: flex,
        $wrap: none,
        $align: center,
        $justify: center,
        $gap: 5%,
        $flex_d: row,
        $flex: none,
        $bg-color: $primary-color
      );
      @include size(100%, 50px);
      border: 1px solid $primary-color;
      color: $tertiary-color;
      border-radius: 4px;
      transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  // ::placeholder {
  //     color: $text-color-3;
  //     font-weight: 400;
  // }
}

.modal_container {
  @include flexBar(
    $wrap: none,
    $align: center,
    $justify: center,
    $gap: 1%,
    $flex_d: none,
    $flex: none,
    $bg-color: rgba(0, 0, 0, 0.5)
  );
  border: 2px solid red;
  left: 0%;
  top: 0%;
  z-index: 100;
  @include size(
    $width: 100%,
    $height: 195%,
    $max-width: 100%,
    $max-height: 200%
  );

  @include tabletPro {
    height: 135%;
  }

  @include phonePro {
    height: 215%;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .modal {
    position: sticky;
    display: flex;
    flex-direction: column;
    padding: 2%;
    //border: 2px solid red;
    @include size(45%, 25%);
    top: 0%;
    z-index: 1;
    background-color: $tertiary-color;
    border-radius: 8px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12),
      0px 1px 8px rgba(0, 0, 0, 0.2);
      font-family: "Inter";

    @include tabletPro {
      @include size(45%, 18%);
      //top: -20%;
    }

    @include phonePro {
      @include size(65%, 20%);
    }

    .completeModal {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: center;
      //border: 1px solid green;
      height: 100%;
      width: 100%;
      gap: 5%;

      .modal_head {
        //border: 1px solid green;
        @include flexBar ($position: relative, $display: flex, $wrap: none, $align: flex-start, $justify: flex-end, $gap: 1%, $flex_d: row, $flex: none, $bg-color: transparent);
        @include size(100%, 10%);
  
        button {
          position: relative;
          display: flex;
          width: 7%;
          flex-direction: row;
          justify-content: center;
          border: none;
          background-color: transparent;
          //border: 2px solid red;

          @include phonePro {
            width: 15%;
          }
    
          &:hover {
            transform: scale(1.05);
          }
        }
      }
  
      .modal_image {
        //border: 1px solid black;
        display: flex;
        justify-content: center;
        position: relative;
        @include size(55%, 70%);

        @include phonePro {
          width: 100%;
        }

        img {
          object-fit: contain;
          position: relative;
          @include size(100%, 100%);
        }
      }
  
      .modal_body {
        //border: 1px solid black;
        position: relative;
        display: flex;
        justify-content: center;
        top: -5%;

        @include phonePro {
          font-size: 14px;
        }
      }
    }

    .loadingModal {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: center;
      //border: 1px solid green;
      height: 100%;
      width: 100%;
      gap: 30%;

      span {
        //border: 1px solid red;
        position: relative;
        font-size: 18px;
        font-weight: 600;
        top: 5%;

        @include phonePro {
          font-size: 15px;
        }
      }

      .circle {
        width: 60px;
        height: 60px;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: spin 1s linear infinite;
      }
    }
    
  }
}

.modal_inactive {
  display: none;
}
